<form action="/students/<%= students.id %>" method="POST">

	<% if (edit) { %>
		<input type="hidden" name="_method" value="PUT">
	<% } %>

	<input type="text" name="id" placeholder="id" value="<%= students.id%>"/>
	<input type="text" name="firstname" placeholder="fname" value="<%= students.firstname%>"/>
	<input type="text" name="secondname" placeholder="surname" value="<%= students.secondname%>"/>
	<input type="text" name="Year" placeholder="Year" value="<%= students.Year%>"/>


	<input type="submit" name="submit" value="Save Student"/>
</form>
