<h1>Welcome</h1>

<table border="1" class="qa-show-user">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Year</th>
    <th>Options</th>
  </tr>
  
  	<% for(var i = 0; i < students.length; i++) { %>
		 <tr id="<%= students[i].id %>">
		 <td><%= students[i].firstname %></td>
		 <td><%= students[i].secondname %></td>
		 <td><%= students[i].Year %></td>
		 <td><a href="/students/<%= students[i].id %>">View</a></td> 
		 </tr>
	<% } %>
</table>