<h1>Welcome</h1>

<table border="1">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Year</th>
    <th>Options</th>
  </tr id="<%= teachers[i].id %>" >
<% for(var i = 0; i < teachers.length; i++) { %>
 <td><%= teachers[i].firstname %></td>
 <td><%= teachers[i].secondname %></td>
 <td><%= teachers[i].subject %></td>
 <td><a href="/teachers/<%= teachers[i].id %>">View</a></td>
 <tr>
<% } %>
</table>
