<h1>View Teacher</h1>

<table border="1" class="qa-show-teacher">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Subject</th>
    <th>Options</th>
    <th>More Options</th>
  </tr>
  <tr id="<%= teacher.id %>">
	<td><%=teacher.firstname%></td>
	<td><%= teacher.secondname%></td>
	<td><%= teacher.subject%></td>
    <td><a href="/teachers/<%= teacher.id%>/edit">Edit Teacher</a></td>
    <td>
      <form action="/teachers/<%= teacher.id %>" method="POST">
	  <input type="hidden" name="_method" value="DELETE">
	  <input type="submit" value="Delete" id="delete" >
	  </form> 
    </td>
  </tr>
</table>